<link rel="stylesheet" type="text/css" href="/css/main.css" />

{{#posts}}
	{{#everyOther @index  2}}
		<div class="post border-blue">
	{{else}}
		<div class="post border-purple">
	{{/everyOther}}
	<div class="content">
		<p class="title">{{title}}<span class="date">{{formatPostTime date}}</span></p>
		<p class="body-text">{{body}}</p>
	</div>
	<div class="footer-buttons">
		<button class="border-down">Expand</button>
		<button class="border-down">Comments</button>
		<button class="border-down">Share</button>
	</div>
	<div class="footer-tags">
		{{#tags}}
			<button class="border-up">{{this}}</button>
		{{/tags}}
	</div>
</div>
{{/posts}}